body {
  font-family: "Karma";
}
.select_container {
  width: max-content;
  display: flex;
}
.left,
.right {
  width: 290px;
}
.left_body {
  position: relative;
}
.right_body {
  padding: 0px 10px;
}
.optionbox {
  display: flex;
  align-items: center;
  cursor: move;
  justify-content: space-between;
  padding: 4px 12px;
  border: 2px solid grey;
  border-radius: 5px;
  width: 220px;
  height: 40px;
  box-sizing: border-box;
}
#left_searchbox {
  border-radius: 5px;
  padding: 6px 12px;
  width: 220px;
  padding-left: 30px;
}
#search_icon {
  position: absolute;
  left: 5px;
  top: 7px;
}
#dropzone {
  outline: dashed;
  display: flex;
  flex-direction: column;
  outline-width: thin;
  align-items: center;
  justify-content: center;
  height: 650px;
  background-color: #e5e5e5;
}
.optioncontainer {
  display: flex;
  align-items: baseline;
  margin-top: 15px;

  justify-content: space-between;
}

#right_options {
  margin-top: 20px;
  max-height: 400px;
  overflow-y: scroll;
}

.optioncontainer > .deletebtn {
  display: none;
}
.right_options .optioncontainer:hover .deletebtn {
  display: block;
  margin-right: 8px;
}
.deletebtn:hover {
  cursor: pointer;
}

.dragging .deletebtn {
  display: none !important;
}
.nodata {
  display: flex;
  width: 220px;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  justify-content: space-evenly;
}
.right_header {
  text-align: end;
  font-weight: bolder;
  margin-right: 10px;
}
.left_header {
  font-weight: bolder;
}
.dragging {
  cursor: grabbing !important;
}
div.dragging {
  cursor: grabbing !important;
}
.dropzone_sm {
  height: 100px !important;
  background: white;
  padding: 20px 0px;
}
.dropzone_lg {
  height: 600px !important;
  background: #e5e5e5;
}
